.sidebar {
  position: fixed;
  background-color: var(--color-orange-500);
  color: var(--color-white);
  height: calc(100vh - 7rem);
  width: 17rem;
  border-radius: var(--border-rounded);
  top: 6rem;
  left: 1rem;
  transition: 250ms ease-in-out;
  padding: 1.5rem 1.25rem;

  &__link {
    color: var(--color-white);
    font: 1.25rem;
    margin-bottom: 1rem;
    text-decoration: none;
    position: relative;
  }

  &.isActive {
    left: 1rem;
  }
}
